[Unit]
Description=MySQL Database Server
After=my-services.target

[Service]
Type=simple
PIDFile =/var/run/mysqld/mysqld.pid
ExecStart=/usr/sbin/mysqld
Restart=on-failure

[Install]
WantedBy=multi-user.target


